<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body>
	<div class="card container" role="main">
		<div class="card-body">
			<div class="page-header">
				<!-- include the Nav bar fragment-->
				<nav
					th:replace="~{includes/fragments :: header (header='PlaVent - Category Management')}"></nav>
			</div>

			<!-- include the Nav bar fragment-->
			<nav th:replace="~{includes/fragments :: navigation }"></nav>

			<!-- include the serach bar fragment for users-->
			<nav
				th:replace="~{includes/fragments :: MgmtNavBar (buttonText='New Category',buttonLink='showCreateCategory',searchLink='filterCategories')}"></nav>

			<!--  Error message ----------------------------------------------------------- -->
			<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
				class="alert alert-danger" role="alert"></div>
			<!--  Error message ----------------------------------------------------------- -->

			<!--  Warning message ----------------------------------------------------------- -->
			<div th:unless="${warningMessage} == null"
				th:utext="${warningMessage}" class="alert alert-warning"
				role="warning"></div>
			<!--  Warning message ----------------------------------------------------------- -->

			<!--   message ----------------------------------------------------------- -->
			<div th:unless="${message} == null" th:utext="${message}"
				class="alert alert-success" role="warning"></div>
			<!--   message ----------------------------------------------------------- -->

			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<table data-toggle="table" class="table table-hover table-striped">
						<thead>
							<tr>
								<th data-sortable="true">Category</th>
								<th data-sortable="true">In Use</th>
								<th data-sortable="true">Status</th>
								<th class="text-right">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr
								th:each="happeningCategory : ${#request.getAttribute('categories')}">
								<td th:text="${happeningCategory.categoryName}"></td>
								<td th:text="${happeningCategory.inUse}"></td>
								<td th:text="${happeningCategory.status}"></td>
								<td>

									<div class="btn-group">
										<a
											th:href="@{/showModifyCategory(categoryID=${happeningCategory.categoryID})}"
											class="btn btn-pill btn-secondary"> <span
											class="glyphicon" aria-hidden="true"></span> Edit
										</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- hoedlale16: include some fancy footer -->
	<footer th:replace="~{includes/fragments :: footer}"></footer>

	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>

</html>