<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent - Password</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body class="app flex-row align-items-center bg-dark">
	<div class="container" role="main">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card bg-light mx-4 text-dark">
					<div class="card-body">
	
						<div th:replace="~{includes/fragments :: msgs}"></div>

						<form class="form-horizontal" method="post"
							th:action="${user} ? @{/changePassword} : @{/resetPassword(userToken=${userToken})}">

							<fieldset class="card-body">
								<h1 th:text="${user}? 'Change Password' : 'Reset Password'"></h1>
								
								<!-- Send field if we were came from "show profile" -->
								<th:block th:if="${commingFromShowProfile}">
									<input type="hidden" name="commingFromShowProfile" th:value=${commingFromShowProfile}>
								</th:block>
	
								<!--  ----------------  username ---------------- -->
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="icon-user"></i></span>
									</div>
									<th:block th:if=${user}>
										<input type="text" class="form-control" name="username"
											required="required" placeholder="Username"
											th:value="${user} ? ${user.username}" th:readonly="${user}"
											autocomplete="off">
									</th:block>
									
									<!--  Reset password part -->
									<th:block th:if=${userB}>
										<input type="text" class="form-control" name="username"
											required="required" placeholder="Username"
											th:value="${userB} ? ${userB.username}" th:readonly="${userB}"
											autocomplete="off">
									</th:block>
									
								</div>
								<!--  ----------------  password ---------------- -->
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="icon-lock"></i></span>
									</div>
									<input class="form-control" type="password" name="password"
										required="required" placeholder="Password" 
										minlength="6" maxlength="60">
								</div>
								<!-- --------------  buttons ---------------- -->
								<button type="submit" class="btn btn-outline-dark">Submit</button>
								<th:block th:if=${userB}>
									<a th:href="@{login}" class="btn btn-light">Cancel</a>
								</th:block>
								<th:block th:unless=${userB}>
									<a th:href="${commingFromShowProfile} ? showProfile : showUserManagement" class="btn btn-light">Cancel</a>
								</th:block>

							</fieldset>
						</form>
						</th:block>
					</div>
				</div>
			</div>
			<!-- weilands16: include our footer -->
			<footer th:replace="~{includes/fragments :: footer}"></footer>
		</div>

		<!--  End of container -->
		<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>

</html>