<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
<link
	href="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"
	rel="stylesheet">
</head>

<body class="app flex-row align-items-center bg-dark">
	<div class="container" role="main">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card bg-light mx-4 text-dark">

					<!--  hoedlale16: Form calls /edituser or /adduser, depending if an user is set already. -->
					<form class="form-horizontal" method="post"
						th:action="${happeningTask} ? @{/modifyExistingHappeningTask} : @{/createNewHappeningTask}">
						<fieldset class="card-body">
							<h1
								th:text="${happeningTask} ? 'Change happening task' : 'New happening task'"></h1>

							<!-- Send connected happeningID to assing task with form -->
							<input type="hidden" name="happeningID"
								th:value="${happening.happeningId}" />

							<!--  ----------------  happening ---------------- -->
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon-note"></i></span>
								</div>
								<input class="form-control" type="text" name="happeningName"
									th:value="${happening.happeningName}" readonly
									placeholder="Happening">
							</div>

							<!--  ----------------  taskId ---------------- -->
							<div th:if="${happeningTask} != null" class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">#</span>
								</div>
								<input class="form-control" type="text" name="taskId" readonly
									required="required"
									th:value="${happeningTask} ? ${happeningTask.taskId}"
									placeholder="Task-ID">
							</div>

							<!--  ----------------  topic ---------------- -->
							<div class="input-group mb-3">
							<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon-note"></i></span>
								</div>
								<input class="form-control" type="text" name="topic"
									required="required"
									th:value="${happeningTask} ? ${happeningTask.topic}"
									placeholder="Topic">
							</div>

							<!--  ----------------  durationInHour ---------------- -->
							<div class="input-group mb-3">
							<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon-clock"></i></span>
								</div>
								<input class="form-control" type="number" name="durationInHour"
									required="required"
									th:value="${happeningTask} ? ${happeningTask.durationInHour}"
									placeholder="Duration in hours">
							</div>

							<!--  ----------------  responsibleUser ---------------- -->
							<div class="form-group">
								<!-- Handling bei neuem Task! -->
								<th:block th:if="${happeningTask == null}">
									<select id="inputResponsibleUser"
										class="custom-select form-control" name="responsibleUsername">
										<option disabled="disabled">Responsible User</option>
										<option selected="selected">N/A</option>
										<!-- Option "No User" -->
										<option th:value="${happening.happeningHost.username}"
											th:text="${happening.happeningHost.username}"></option>
										<option th:each="guest : ${happening.guestList}"
											th:value="${guest.username}" th:text="${guest.username}"></option>
									</select>

								</th:block>

								<!-- Handling bei Edit bestehenden Task -->
								<th:block th:if="${happeningTask != null}">
									<select id="inputResponsibleUser"
										class="custom-select form-control" name="responsibleUsername">

										<!-- Variante: Currently no responsible User set! -->
										<th:block th:if="${happeningTask.responsibleUser == null}">
											<option disabled="disabled">Responsible User</option>
											<option selected="selected">N/A</option>
											<!-- Option "No User" -->
											<option th:value="${happening.happeningHost.username}"
												th:text="${happening.happeningHost.username}"></option>
											<option th:each="guest : ${happening.guestList}"
												th:value="${guest.username}" th:text="${guest.username}"></option>
										</th:block>

										<!--  Variante: Responsible User already set! -->
										<th:block th:if="${happeningTask.responsibleUser != null}">
											<option disabled="disabled">Responsible User</option>
											<option>N/A</option>
											<!-- Option "No User" -->
											<option
												th:selected="${happening.happeningHost.username == happeningTask.responsibleUser.username}"
												th:value="${happening.happeningHost.username}"
												th:text="${happening.happeningHost.username}"></option>
											<option th:each="guest : ${happening.guestList}"
												th:selected="${guest.username == happeningTask.responsibleUser.username}"
												th:value="${guest.username}" th:text="${guest.username}">
											</option>

										</th:block>
									</select>
								</th:block>
							</div>

							<!--  ----------------  description ---------------- -->
							<div class="form-group">
								<textarea class="form-control" rows="5" id="description"
									name="description"
									th:text="${happeningTask} ? ${happeningTask.description}"
									placeholder="Description"></textarea>
							</div>


							<!-- --------------  buttons ---------------- -->
							<div class="form-group">

								<button type="submit" class="btn btn-outline-dark">Submit</button>
								<a
									th:href="@{showTaskListManagement(happeningID=${happening.happeningId})}"
									class="btn btn-outline-secondary"> Cancel </a>

							</div>

						</fieldset>
					</form>
				</div>
			</div>
		</div>
		<!-- weilands16: include our footer -->
		<footer th:replace="~{includes/fragments :: footer}"></footer>
	</div>
	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />

	<!-- JS for Datetime picker -->
	<script type="text/javascript"
		src="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

	<script>
		$(function() {

			$(".form_datetime").datetimepicker({
				format : "dd.mm.yyyy",
				autoclose : true,
				todayBtn : true,
				pickerPosition : "bottom-left",
				minView : 2
			});

		});
	</script>

</body>

</html>