<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent - User</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
<link
	href="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"
	rel="stylesheet">
</head>

<body class="app flex-row align-items-center bg-dark">
	<div class="container" role="main">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="float-left card bg-light mx-4 text-dark">
						<img class="card-img-top" th:unless="${image} == null"
						th:src="${image}" height="150" width="150">	
					</div>
				
				<div class="card bg-light mx-4 text-dark">
					
					<!--  fernbach16: Form calls /edituser or /adduser, depending if an user is set already. -->
					<form class="form-horizontal" method="post"
						th:action="${user} ? @{/editUser} : @{/createUser}">
						<fieldset class="card-body">
							<h1 th:text="${user}? 'Change user' : 'New user'">New user</h1>

							<!--  ----------------  username ---------------- -->
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon-user"></i></span>
								</div>
								<input type="text" class="form-control" name="username"
									required="required" placeholder="Username"
									th:value="${user} ? ${user.username}" th:readonly="${user}"
									autocomplete="off" minlength="1" maxlength="45">
							</div>

							<!--  ----------------  password ---------------- -->
							<div th:if="${user} == null" class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon-lock"></i></span>
								</div>
								<input class="form-control" type="password" name="password"
									placeholder="Password" required="required" autocomplete="off"
									minlength="6" maxlength="45"
									th:value="${user} ? ${user.password}">
							</div>

							<!--  ----------------  firstname ---------------- -->
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon-emotsmile"></i></span>
								</div>
								<input class="form-control" type="text" name="firstname"
									required="required" placeholder="First Name" autocomplete="off"
									minlength="2" maxlength="64"
									th:value="${user} ? ${user.firstname}">
							</div>

							<!--  ----------------  lastname ---------------- -->
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon-emotsmile"></i></span>
								</div>
								<input class="form-control" type="text" name="lastname"
									required="required" placeholder="Last Name" autocomplete="off"
									minlength="2" maxlength="64"
									th:value="${user} ? ${user.lastname}">
							</div>

							<!--  ----------------  eMail ---------------- -->
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon-envelope"></i></span>
								</div>
								<input class="form-control" type="email" name="eMail"
									required="required" placeholder="Email" autocomplete="off"
									minlength="5" maxlength="256"
									th:value="${user} ? ${user.eMail}">
							</div>

							<!--  ----------------  telephone Number ---------------- -->
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon-phone"></i></span>
								</div>
								<input class="form-control" type="tel" name="telNumber"
									placeholder="Phone" autocomplete="off"
									minlength="9" maxlength="15"
									th:value="${user} ? ${user.telNumber}">
							</div>
							<!-- --------------  User Role ---------------->
							<div class="form-group mb-4">
								<select class="custom-select form-control" th:unless="${user}"
									id="roles" name="role">
									<option disabled="disabled">User Role</option>
									<option value="guest" selected="selected">Guest</option>
									<option value="host">Host</option>
									<option value="admin">Administrator</option>
								</select>
							</div>
							<!-- --------------  buttons ---------------- -->
							<button type="submit" class="btn btn-outline-dark">Submit</button>
							<th:block sec:authorize="hasRole('ROLE_ADMIN')">
								<a href="showUserManagement" class="btn btn-light">Cancel</a>
							</th:block>
							<th:block sec:authorize="!hasRole('ROLE_ADMIN')">
								<a href="showProfile" class="btn btn-light">Cancel</a>
							</th:block>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- weilands16: include our footer -->
	<footer th:replace="~{includes/fragments :: footer}"></footer>
	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />

	<!-- JS for Datetime picker -->
	<script type="text/javascript"
		src="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

	<script>
		$(function() {

			$(".form_datetime").datetimepicker({
				format : "dd.mm.yyyy",
				autoclose : true,
				todayBtn : true,
				pickerPosition : "bottom-left",
				minView : 2
			});

		});
	</script>

</body>

</html>