<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
<link
	href="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"
	rel="stylesheet">
</head>

<body class="app flex-row align-items-center">
	<div class="container  justify-content-center" role="main">
		<div class="row">
			<div class="card col-md-8 col-md-offset-2">

				<!--  fernbach16: Form calls /edituser or /adduser, depending if an user is set already. -->
				<form class="form-horizontal" method="post"
					th:action="${user} ? @{/editUser} : @{/createUser}">
					<fieldset class="card-body">
						<h1 th:text="${user}? 'Change user' : 'New user'">New user</h1>

						<!--  ----------------  username ---------------- -->
						<div class="form-group">
							<input class="form-control" type="text" name="username"
								required="required" th:value="${user} ? ${user.username}"
								th:readonly="${user}" placeholder="Username">
						</div>

						<!--  ----------------  password ---------------- -->
						<div th:if="${user} == null" class="form-group">
							<input class="form-control" type="password" name="password"
								required="required" th:value="${user} ? ${user.password}"
								placeholder="Password">
						</div>

						<!--  ----------------  firstname ---------------- -->
						<div class="form-group">
							<input class="form-control" type="text" name="firstname"
								required="required" th:value="${user} ? ${user.firstname}"
								placeholder="First Name">
						</div>

						<!--  ----------------  lastname ---------------- -->
						<div class="form-group">
							<input class="form-control" type="text" name="lastname"
								required="required" th:value="${user} ? ${user.lastname}"
								placeholder="Last Name">
						</div>

						<!--  ----------------  eMail ---------------- -->
						<div class="form-group">
							<input class="form-control" type="email" name="eMail"
								required="required" th:value="${user} ? ${user.eMail}"
								placeholder="Email">
						</div>

						<!--  ----------------  telephone Number ---------------- -->
						<div class="form-group">
							<input class="form-control" type="tel" name="telNumber"
								required="required" th:value="${user} ? ${user.telNumber}"
								placeholder="Phone Number">
						</div>
						<!-- --------------  User Role ---------------- 
						<div sec:authorize="hasRole('ROLE_ADMIN')">
						<div class="form-group">
							<label for="inputRoles" class="col-md-2 control-label">User Roles</label>
							<div class="col-md-10">
								<select class="custom-select" name="roleList"
									required="required" th:value="${user} ? ${user.roleList">
									<option style="display: none;"></option>
									<option value="GUEST">Guest Role</option>
									<option value="HOST">Host Role</option>
									<option value="ADMIN">Admin Role</option>
								</select>
							</div>
						</div> -->
						<!-- --------------  buttons ---------------- -->
						<div class="input-group btn-group">
							<button type="submit" class="btn btn-pill btn-primary">Submit</button>
							<a href="showUserManagement" class="btn btn-pill btn-secondary">
								Cancel </a>
						</div>
					</fieldset>
				</form>
			</div>
		</div>

	</div>
	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />

	<!-- JS for Datetime picker -->
	<script type="text/javascript"
		src="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

	<script>
		$(function() {

			$(".form_datetime").datetimepicker({
				format : "dd.mm.yyyy",
				autoclose : true,
				todayBtn : true,
				pickerPosition : "bottom-left",
				minView : 2
			});

		});
	</script>

</body>

</html>