<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent - Happening</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
<link
	href="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"
	rel="stylesheet">
</head>

<body class="app flex-row align-items-center bg-dark">
	<div class="container" role="main">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card bg-light mx-4 text-dark">

					<!--  hoedlale16: Form calls /edituser or /adduser, depending if an user is set already. -->
					<form class="form-horizontal" method="post"
						th:action="${happening} ? @{/modifyExistingHappening} : @{/createNewHappening}">
						<fieldset class="card-body">
							<h1 class="bd-title"
								th:text="${happening}? 'Change happening' : 'New happening'"></h1>

							<!--  ----------------  happeningID ---------------- -->
							<div th:if="${happening} != null" class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">#</span>
								</div>
								<input class="form-control" type="text" name="happeningId"
									required="required"
									th:value="${happening} ? ${happening.happeningId}"
									th:readonly="${happening}" placeholder="ID">
							</div>

							<!--  ----------------  happeningID ---------------- -->
							<input class="form-control" type="hidden" name="statusString"
								th:value="${happening} ? ${happening.happeningStatus.statusName}">

							<!--  ----------------  happeningName ---------------- -->
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon-note"></i></span>
								</div>
								<input class="form-control" type="text" name="happeningName"
									required="required"
									th:value="${happening} ? ${happening.happeningName}"
									th:readonly="${happening} ? ${happening.happeningStatus.statusName == 'DELETED'}"
									placeholder="Name">
							</div>

							<!--  ----------------  start ---------------- -->
							<div class="input-group mb-3">
								<!-- Why the heck can bootstrap not handle a date and time in a type="date" field??? -->
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon-calendar"></i></span>
								</div>
								<input class="form_datetime form-control" type="text"
									name="startDate" required="required"
									th:value="${happening} ? ${#dates.format(happening.start, 'dd.MM.yyyy HH:mm')}"
									th:disabled="${happening} ? ${happening.happeningStatus.statusName == 'DELETED'}"
									placeholder="Start Date">
							</div>
							<!--  ----------------  end ---------------- -->
							<div class="input-group mb-3">
								<!-- Why the heck can bootstrap not handle a date and time in a type="date" field??? -->
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon-calendar"></i></span>
								</div>
								<input class="form_datetime form-control" type="text"
									name="endDate" required="required"
									th:value="${happening} ? ${#dates.format(happening.end, 'dd.MM.yyyy HH:mm')}"
									th:disabled="${happening} ? ${happening.happeningStatus.statusName == 'DELETED'}"
									placeholder="End Date">
							</div>

							<!--  ----------------  description ---------------- -->
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="icon-note"></i></span>
								</div>
								<input class="form-control" type="text" name="description"
									th:value="${happening} ? ${happening.description}"
									th:readonly="${happening} ? ${happening.happeningStatus.statusName == 'DELETED'}"
									placeholder="Description">
							</div>

							<!--  ----------------  location ---------------- -->
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i
										class="icon-location-pin"></i></span>
								</div>
								<input class="form-control" type="text" name="location"
									required="required"
									th:value="${happening} ? ${happening.location}"
									th:readonly="${happening} ? ${happening.happeningStatus.statusName == 'DELETED'}"
									placeholder="Location">
							</div>

							<!--  ----------------  category ---------------- -->
							<div class="input-group mb-3">
								<select id="inputCategory" class="custom-select form-control"
									name="categoryID" required="required"
									th:value="${happening} ? ${happening.category.categoryID}"
									th:disabled="${happening} ? ${happening.happeningStatus.statusName == 'DELETED'}">
									<option th:if="${happening == null}" disabled="disabled"
										selected="selected">Category</option>
									<option th:each="category : ${happeningCategories}"
										th:value="${category.categoryID}"
										th:text="${category.categoryName}"></option>
								</select>
							</div>
							<!--  ----------------  status ---------------- -->
							<!--  Status is not changeable via this form. User can change state just via deletion of event! -->

							<!--  ----------------  happeningHost ---------------- -->
							<div class="input-group mb-3">
								<!-- CREATE NEW HAPPINING VERSION-->
								<th:block th:if="${happening == null}">
									<select id="inputHost" class="custom-select form-control"
										name="host" required="required"
										th:readonly="${#strings.contains(#authentication.principal.authorities,'ADMIN') == false}">
										<option disabled="disabled" selected="selected">Host</option>
										<option th:each="user : ${happeningHosts}"
											th:selected="${user.username == #authentication.principal.getUsername()}"
											th:value="${user.username}" th:text="${user.username}">
										</option>
									</select>
								</th:block>
								<!-- MODIFY EXISTING HAPPINING VERSION-->
								<th:block th:if="${happening}">
									<th:block th:switch="${happening.happeningStatus.statusName}">
										<th:block th:case="ACTIVE">
											<select id="inputHost" class="custom-select form-control"
												name="host" required="required"
												th:readonly="${#strings.contains(#authentication.principal.authorities,'ADMIN') == false}">
												<option disabled="disabled" selected="selected">Host</option>
												<option th:each="user : ${happeningHosts}"
													th:selected="${user.username == happening.happeningHost.username}"
													th:value="${user.username}" th:text="${user.username}">
												</option>
											</select>
										</th:block>
										<th:block th:case="DELETED">
											<!-- Show a disabled Drop down if happening is deleted -->
											<select id="inputHost" class="custom-select form-control"
												name="host" required="required" disabled>
												<option disabled="disabled" selected="selected">Host</option>
												<option th:value="${happening.happeningHost.username}"
													th:text="${happening.happeningHost.username}"></option>
											</select>
										</th:block>
									</th:block>
								</th:block>
							</div>
							<!-- --------------  buttons ---------------- -->

							<th:block th:if="${happening}">
								<th:block th:switch="${happening.happeningStatus.statusName}">
									<th:block th:case="ACTIVE">
										<button type="submit" class="btn btn-outline-dark">Submit</button>
										<a href="showHappeningManagement"
											class="btn btn-outline-secondary"> Cancel </a>

										<a
											th:href="@{/deleteExistingHappening(happeningId=${happening.happeningId})}"
											class="btn btn-outline-danger pull-right"> <span
											class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete
										</a>
									</th:block>

									<th:block th:case="DELETED">
										<a
											th:href="@{/reactivateExistingHappening(happeningId=${happening.happeningId})}"
											class="btn btn-outline-dark"> <span class="glyphicon"
											aria-hidden="true"></span>Reactivate
										</a>
										<a href="showHappeningManagement"
											class="btn btn-outline-secondary"> Cancel </a>
									</th:block>
								</th:block>
							</th:block>

							<th:block th:unless="${happening}">
								<button type="submit" class="btn btn-outline-dark">Submit</button>
								<a href="showHappeningManagement"
									class="btn btn-outline-secondary"> Cancel </a>
							</th:block>


						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- weilands16: include our footer -->
	<footer th:replace="~{includes/fragments :: footer}"></footer>
	</div>
	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />

	<!-- JS for Datetime picker -->
	<script type="text/javascript"
		src="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

	<script>
		$(function() {
			<!--
			https: //www.malot.fr/bootstrap-datetimepicker/demo.php -->
			$(".form_datetime").datetimepicker({
				format : "dd.mm.yyyy hh:ii",
				autoclose : true,
				todayBtn : true,
				pickerPosition : "bottom-left",
			});
		});
	</script>

</body>

</html>