<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
<link
	href="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"
	rel="stylesheet">
</head>

<body>
	<div class="container" role="main">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<!--  hoedlale16: Form calls /edituser or /adduser, depending if an user is set already. -->
				<form class="form-horizontal" method="post"
					th:action="${happeningTask} ? @{/modifyExistingHappeningTask} : @{/createNewHappeningTask}">
					<fieldset>
						<legend th:text="${happeningTask} ? 'Change happening task' : 'New happening task'"></legend>
						
						<!-- Send connected happeningID to assing task with form -->
						<input type="hidden" name="happeningID" th:value="${happening.happeningId}" />
												
						<!--  ----------------  happening ---------------- -->
						<div class="form-group">
							<label for="inputId" class="col-md-2 control-label">Happening</label>
							<div class="col-md-10">
								<input class="form-control" type="text" name="happeningName"
									th:value="${happening.happeningName}"
									readonly>
							</div>
						</div>

						<!--  ----------------  taskId ---------------- -->
						<div th:if="${happeningTask} != null" class="form-group">
							<label for="inputId" class="col-md-2 control-label">Task-ID</label>
							<div class="col-md-10">
								<input class="form-control" type="text" name="taskId" readonly
									required="required" th:value="${happeningTask} ? ${happeningTask.taskId}">
							</div>
						</div>
						
						<!--  ----------------  topic ---------------- -->
						<div class="form-group">
							<label for="inputTopic" class="col-md-2 control-label">Topic</label>
							<div class="col-md-10">
								<input class="form-control" type="text" name="topic"
									required="required" th:value="${happeningTask} ? ${happeningTask.topic}">
							</div>
						</div>
						
						<!--  ----------------  durationInHour ---------------- -->
						<div class="form-group">
							<label for="inputTopic" class="col-md-2 control-label">Duration [h]</label>
							<div class="col-md-10">
								<input class="form-control" type="number" name="durationInHour"
									required="required" th:value="${happeningTask} ? ${happeningTask.durationInHour}">
							</div>
						</div>
						
						<!--  ----------------  responsibleUser ---------------- -->
						<div class="form-group">
							<label for="inputResponsibleUser" class="col-md-2 control-label">Responsible</label> 
							<div class="col-md-10">
								<!-- Handling bei neuem Task! -->
								<th:block th:if="${happeningTask == null}">
									<select id="inputResponsibleUser" class="form-control" name="responsibleUsername">				
										<option selected="selected">N/A</option> <!-- Option "No User" -->
										<option th:value="${happening.happeningHost.username}" th:text="${happening.happeningHost.username}"></option>
										<option th:each="guest : ${happening.guestList}" th:value="${guest.username}" th:text="${guest.username}" ></option>
									</select>
								
								</th:block>
								
								<!-- Handling bei Edit bestehenden Task -->
								<th:block th:if="${happeningTask != null}">
									<select id="inputResponsibleUser" class="form-control" name="responsibleUsername">
						
										<!-- Variante: Currently no responsible User set! -->
										<th:block th:if="${happeningTask.responsibleUser == null}">
											<option selected="selected">N/A</option> <!-- Option "No User" -->
											<option th:value="${happening.happeningHost.username}" th:text="${happening.happeningHost.username}"></option>
											<option th:each="guest : ${happening.guestList}" th:value="${guest.username}" th:text="${guest.username}" ></option>
										</th:block>
										
										<!--  Variante: Responsible User already set! -->
										<th:block th:if="${happeningTask.responsibleUser != null}">
											<option>N/A</option> <!-- Option "No User" -->
											<option 
												th:selected="${happening.happeningHost.username == happeningTask.responsibleUser.username}"
												th:value="${happening.happeningHost.username}" 
												th:text="${happening.happeningHost.username}">
											</option>											
											<option th:each="guest : ${happening.guestList}" 
												th:selected="${guest.username == happeningTask.responsibleUser.username}"
												th:value="${guest.username}" 
												th:text="${guest.username}" >
											</option>
											
										</th:block>
									</select>
								</th:block>
							</div>
						</div>
						
						<!--  ----------------  description ---------------- -->
						<div class="form-group">
							<label for="inputDescription" class="col-md-2 control-label">Description</label> 
							<div class="col-md-10">
						  		<textarea class="form-control" rows="5" id="description" name="description"
						  		th:text="${happeningTask} ? ${happeningTask.description}"></textarea>
						  	</div>
						</div> 		
					

						<!-- --------------  buttons ---------------- -->
						<div class="form-group">
							<div class="col-md-10 col-md-offset-2">
								<button type="submit" class="btn btn-primary">Submit</button>
								<a th:href="@{showTaskListManagement(happeningID=${happening.happeningId})}" class="btn btn-default"> Cancel </a>
							</div>
						</div>

					</fieldset>
				</form>
			</div>
		</div>

	</div>
	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />

	<!-- JS for Datetime picker -->
	<script type="text/javascript"
		src="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

	<script>
		$(function() {

			$(".form_datetime").datetimepicker({
				format : "dd.mm.yyyy",
				autoclose : true,
				todayBtn : true,
				pickerPosition : "bottom-left",
				minView : 2
			});

		});
	</script>

</body>

</html>