<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent - Dashboard</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body class="app flex-row align-items-center bg-dark">
	<div class="container mb-5" role="main">
		<div class="card bg-light">
			<div class="card-body text-dark">
				<div class="row page-header">
					<!-- include the Nav bar fragment-->
					<p
						th:replace="~{includes/fragments :: header (header='Dashboard')}"></p>
				</div>
				<!-- include the Nav bar fragment-->
				<nav th:replace="~{includes/fragments :: navigation }"></nav>

				<!-- include message boxes (moved to fragments) -->
				<div th:replace="~{includes/fragments :: msgs}"></div>
			</div>
		</div>


		<div class="card bg-light">
			<div class="card-body">
				<div class="col-md-12">
					<div class="row text-dark">
						Hi, hier kommt dann noch was :)
					</div>
					<!--  include fragement for pageination stuff -->
					<nav
						th:replace="~{includes/fragments :: pageNav (linkToChangePage='/showHappeningManagementPage') }"></nav>
				</div>
			</div>
		</div>
	</div>

	<!-- hoedlale16: include some fancy footer -->
	<footer th:replace="~{includes/fragments :: footer}"></footer>

	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>
</html>