<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent - Dashboard</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body class="app flex-row align-items-center bg-dark">
	<div class="container mb-5" role="main">
		<div class="card bg-light">
			<div class="card-body text-dark">
				<div class="row page-header">
					<!-- include the Nav bar fragment-->
					<p
						th:replace="~{includes/fragments :: header (header='Dashboard')}"></p>
				</div>
				<!-- include the Nav bar fragment-->
				<nav th:replace="~{includes/fragments :: navigation }"></nav>

				<!-- include message boxes (moved to fragments) -->
				<div th:replace="~{includes/fragments :: msgs}"></div>
			</div>
		</div>

		<div class="card bg-light col-12">
			<div class="card-body">

				<!-- Stuff every user sees (GUEST -->
				<!-- Upcoming Happenings -->
				<div th:if="${happeningsForGuestInFuture}">

					<div class="card">
						<div class="card-header text-dark">
							<strong>Upcoming Happenings</strong>
							<!-- disabled, because JS to minimize seems to glitch out a lot
								<div class="card-header-actions">
									<a href="#" class="card-header-action btn-minimize" data-toggle="collapse" 
										data-target="#collapseExample" aria-expanded="true">
										<i class="icon-arrow-up"></i>
									</a>
								</div> -->
						</div>

						<div class="card-body collapse show" id="collapseExample"
							aria-expanded="true">
							<div th:if="${#lists.isEmpty(happeningsForGuestInFuture)}"
								class="center">
								<strong>No upcoming happenings!</strong>
							</div>

							<div class="row">
								<div
									th:each="happening : ${#request.getAttribute('happeningsForGuestInFuture')}"
									class="col-4">
									<div class="card text-dark">
										<div class="card-header bg-success">
											<strong th:text="${happening.happeningName}"></strong>
										</div>
										<div class="card-body">
											<strong>Start Time:</strong> <em
												th:text="${#dates.format(happening.start,'dd.MM.yyyy hh:mm')}"></em><br>
											<strong>End Time:</strong> <em
												th:text="${#dates.format(happening.end,'dd.MM.yyyy hh:mm')}"></em><br>
											<strong>Location:</strong> <em
												th:text="${happening.location}"></em><br> <strong>Host:</strong>
											<em
												th:text="${happening.happeningHost.lastname +' '+#strings.substring(happening.happeningHost.firstname,0,1) +'.'}"></em><br>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="card text-white bg-success">
					<div class="card-body">
						<div class="text-value">
							<p th:text="${#request.getAttribute('assignedTasksNum')}"></p>
						</div>
						<div>Assigned Tasks</div>
					</div>
				</div>


				<div th:if="${happeningInFutureNotGuest}">

					<div class="card">
						<div class="card-header text-dark">
							<strong>Happenings you are not invited to</strong>
							<!-- disabled, because JS to minimize seems to glitch out a lot
								<div class="card-header-actions">
									<a href="#" class="card-header-action btn-minimize" data-toggle="collapse" 
										data-target="#collapseExample" aria-expanded="true">
										<i class="icon-arrow-up"></i>
									</a>
								</div> -->
						</div>

						<div class="card-body collapse show" id="collapseExample"
							aria-expanded="true">
							<div th:if="${#lists.isEmpty(happeningsForGuestInFuture)}"
								class="center">
								<strong>No happenings!</strong>
							</div>

							<div class="row">
								<div
									th:each="happening : ${#request.getAttribute('happeningInFutureNotGuest')}"
									class="col-4">
									<div class="card text-dark">
										<div class="card-header bg-success">
											<strong th:text="${happening.happeningName}"></strong>
										</div>
										<div class="card-body">
											<strong>Start Time:</strong><em
												th:text="${#dates.format(happening.start,'dd.MM.yyyy hh:mm')}"></em><br>
											<strong>Host:</strong> <em
												th:text="${happening.happeningHost.lastname +' '+#strings.substring(happening.happeningHost.firstname,0,1) +'.'}"></em><br>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Stuff if user has role HOST -->
				<th:block sec:authorize="hasRole('ROLE_HOST')">
				</th:block>


				<!-- Stuff if user has role ADMIN -->
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
				</th:block>
			</div>
		</div>

		<!-- hoedlale16: include some fancy footer -->
		<footer th:replace="~{includes/fragments :: footer}"></footer>

		<!--  End of container -->
		<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>
</html>