
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>PlaVent - Error!</title>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>
<body class="app flex-row align-items-center bg-dark">
	<div class="container mb-5" role="main">
		<div class="card bg-light">
			<div class="card-body text-dark">
				<div class="row page-header">
					<!-- include the Nav bar fragment-->
					<p
						th:replace="~{includes/fragments :: header (header='Dashboard')}"></p>
				</div>
				<!-- include the Nav bar fragment-->
				<nav th:replace="~{includes/fragments :: navigation }"></nav>

				<!-- include message boxes (moved to fragments) -->
				<div th:replace="~{includes/fragments :: msgs}"></div>
			</div>
		</div>

		<div class="card bg-light text-dark">
			<div class="card-header">
				<h1>Sorry brah, we done fucked up!</h1>
			</div>
			<div class="card-body">
				<!--  Spring information to get access -->
				<strong>Exception:</strong>
				<p
					th:text="${#request.getAttribute('javax.servlet.error.exception')}"></p>
				<strong>Status Code:</strong>
				<p
					th:text="${#request.getAttribute('javax.servlet.error.status_code')}"></p>
				<strong>Request-URI:</strong>
				<p
					th:text="${#request.getAttribute('javax.servlet.error.request_uri')}"></p>
				<strong>Servlet Name:</strong>
				<p
					th:text="${#request.getAttribute('javax.servlet.error.servlet_name')}"></p>
				<div class="form-group">
					<a class="btn btn-outline-primary" href="./dashboard">Back to Safety!</a>
				</div>
			</div>
		</div>
	</div>
	<!-- weilands16: include our footer -->
	<footer th:replace="~{includes/fragments :: footer}"></footer>
</body>
</html>