<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
<link
	href="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"
	rel="stylesheet">
</head>

<body>
	<div class="card container" role="main">
		<div class="card-body row">
			<div class="col-md-8 col-md-offset-2">
				<fieldset class="form-horizontal">
					<h1 th:text="${happeningGuest.username}"></h1>

					<!--  ----------------  happening ---------------- -->
					<div class="form-group">
						<input class="form-control" type="text" name="happeningName"
							th:value="${happening.happeningName}" readonly
							placeholder="Happening">
					</div>

					<!--  ----------------  Guest ---------------- -->
					<div class="form-group">
						<input class="form-control" type="text" name="guestname" readonly
							th:value="${happeningGuest.firstname + ' ' + happeningGuest.lastname}"
							placeholder="Guest">
					</div>

					<!--  ----------------  Assigned Tasks ---------------- -->
					<div class="form-group">
						<form method="post" th:action="@{/unassignTaskToGuest}">
							<!-- Send connected happeningID and username to show this page after action again -->
							<input type="hidden" name="responsibleGuest"
								th:value="${happeningGuest.username}"
								placeholder="Assigned Tasks" /> <select
								id="inputResponsibleUser" class="custom-select form-control"
								name="taskId"
								th:disabled="${assignedTasks} ? ${#lists.isEmpty(assignedTasks)}">
								<option disabled="disabled" selected="selected">Assigned
									Tasks</option>
								<option th:each="task : ${assignedTasks}"
									th:value="${task.taskId}" th:text="${task.topic}">
							</option></select>

							<!-- --------------  buttons ---------------- -->
							<!-- TODO: Button disabled solange bis eine gueltige Option gewaehlt wurde! -->
							<button type="submit" class="btn btn-pill btn-primary"
								th:disabled="${assignedTasks} ? ${#lists.isEmpty(assignedTasks)}">Remove
								Assignment</button>
						</form>
					</div>

					<!--  ----------------  Unassigned Tasks ---------------- -->
					<div class="form-group">
						<form method="post" th:action="@{/assignTaskToGuest}">
							<!-- Send connected happeningID and username to show this page after action again -->
							<input type="hidden" name="responsibleGuest"
								th:value="${happeningGuest.username}" /> <select
								id="inputResponsibleUser" class="custom-select form-control"
								name="taskId"
								th:disabled="${unassignedTasks} ? ${#lists.isEmpty(unassignedTasks)}">
								<option disabled="disabled" selected="selected">Assign
									a Task</option>
								<option th:each="task : ${unassignedTasks}"
									th:value="${task.taskId}" th:text="${task.topic}"></option>
							</select>
							<!-- --------------  buttons ---------------- -->
							<!-- TODO: Button disabled solange bis eine gueltige Option gewaehlt wurde! -->
							<button type="submit" class="btn btn-pill btn-primary"
								th:disabled="${unassignedTasks} ? ${#lists.isEmpty(unassignedTasks)}">Assign</button>
						</form>
					</div>
				</fieldset>
				<a
					th:href="@{/showGuestListManagement(happeningID=${happening.happeningId})}"
					class="btn btn-pill btn-primary"> Close </a>
			</div>
		</div>
	</div>
	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />

	<!-- JS for Datetime picker -->
	<script type="text/javascript"
		src="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

	<script>
		$(function() {

			$(".form_datetime").datetimepicker({
				format : "dd.mm.yyyy",
				autoclose : true,
				todayBtn : true,
				pickerPosition : "bottom-left",
				minView : 2
			});

		});
	</script>

</body>

</html>