<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
<link
	href="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"
	rel="stylesheet">
</head>

<body class="app flex-row align-items-center bg-dark">
	<div class="container" role="main">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card bg-light mx-4 text-dark">
					<fieldset class="form-horizontal card-body">
						<h1 th:text="${happeningGuest.username}"></h1>

						<!--  ----------------  happening ---------------- -->
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="icon-note"></i></span>
							</div>
							<input type="text" class="form-control" name="happeningName"
								required="required" th:value="${happening.happeningName}"
								readonly placeholder="Happening">
						</div>


						<!--  ----------------  Guest ---------------- -->
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="icon-user"></i></span>
							</div>
							<input class="form-control" type="text" name="guestname" readonly
								th:value="${happeningGuest.firstname + ' ' + happeningGuest.lastname}"
								placeholder="Guest">
						</div>

						<!--  ----------------  Assigned Tasks ---------------- -->
						<div class="form-group">
							<form method="post" th:action="@{/unassignTaskToGuest}">
								<!-- Send connected happeningID and username to show this page after action again -->
								<input type="hidden" name="responsibleGuest"
									th:value="${happeningGuest.username}"
									placeholder="Assigned Tasks" /> <select
									id="inputResponsibleUser"
									class="custom-select form-control col-md-6" name="taskId"
									th:disabled="${assignedTasks} ? ${#lists.isEmpty(assignedTasks)}">
									<option disabled="disabled" selected="selected">Assigned
										Tasks</option>
									<option th:each="task : ${assignedTasks}"
										th:value="${task.taskId}" th:text="${task.topic}"></option>
								</select><span class="input-group-btn">
									<button class="btn btn-outline-dark" type="submit"
										th:disabled="${assignedTasks} ? ${#lists.isEmpty(assignedTasks)}">Remove
										Assignment</button>
								</span>
							</form>
						</div>

						<!--  ----------------  Unassigned Tasks ---------------- -->
						<div class="form-group">
							<form method="post" th:action="@{/assignTaskToGuest}">
								<!-- Send connected happeningID and username to show this page after action again -->
								<input type="hidden" name="responsibleGuest"
									th:value="${happeningGuest.username}" /> <select
									id="inputResponsibleUser"
									class="custom-select form-control col-md-6" name="taskId"
									th:disabled="${unassignedTasks} ? ${#lists.isEmpty(unassignedTasks)}">
									<option disabled="disabled" selected="selected">Assign
										a Task</option>
									<option th:each="task : ${unassignedTasks}"
										th:value="${task.taskId}" th:text="${task.topic}"></option>
								</select><span class="input-group-btn">
									<button type="submit" class="btn btn-outline-dark"
										th:disabled="${unassignedTasks} ? ${#lists.isEmpty(unassignedTasks)}">Assign</button>
								</span>
							</form>
						</div>
						<a
							th:href="@{/showGuestListManagement(happeningID=${happening.happeningId})}"
							class="btn btn-outline-dark"> Close </a>
					</fieldset>

				</div>
			</div>
		</div>
	</div>
	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />

	<!-- JS for Datetime picker -->
	<script type="text/javascript"
		src="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

	<script>
		$(function() {

			$(".form_datetime").datetimepicker({
				format : "dd.mm.yyyy",
				autoclose : true,
				todayBtn : true,
				pickerPosition : "bottom-left",
				minView : 2
			});

		});
	</script>

</body>

</html>