<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body>
	<div class="card container" role="main">
		<div class="card-body">
			<div class="page-header">
				<!-- include the Nav bar fragment-->
				<nav
					th:replace="~{includes/fragments :: header (header='PlaVent - User Management')}"></nav>
			</div>

			<!-- include the Nav bar fragment-->
			<nav th:replace="~{includes/fragments :: navigation }"></nav>

			<!-- include Header information of given happening-->
			<div
				th:replace="~{includes/happeningFragments :: happeningHeader (happening=${#request.getAttribute('happening')}) }"></div>

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a
					th:href="@{/showCreateHappeningTaskForm(happeningID=${#request.getAttribute('happening').happeningId})}"
					class="btn btn-pill btn-primary navbar-btn">New Task</a>

				<!-- HTML form with search textbox and submit button-->
				<form class="navbar-form navbar-right" role="search" method="post"
					th:action="@{filterHappeningTaskList}">
					<div class="input-group">
						<input type="hidden" name="happeningID"
							th:value="${happening.happeningId}"> <input type="text"
							class="form-control" placeholder="Search for..."
							name="searchString"> <span class="input-group-append">
							<button class="btn btn-pill btn-primary" type="submit">Filter</button>
						</span>
					</div>
				</form>
			</nav>
			
			<!-- Customized pagination because of happeningId-->
			<nav>
			  <ul class="pagination">
			  	<li th:if="${totalPages <= 1}" class="page-item"> 
			    	<a class="page-link" th:href="@{/showTaskListManagementPage(page=1, happeningID=${happening.happeningId})}">1</a>
			    </li>
			    <li th:if="${totalPages gt 1}" class="page-item" th:each="i : ${#numbers.sequence(0,totalPages-1)}"> 
			    	<a class="page-link" th:href="@{/showTaskListManagementPage(page=${i}, happeningID=${happening.happeningId})}" th:text="${i+1}"></a>
			    </li>
			  </ul>
			</nav>
			
			<!-- include message boxes (moved to fragments) -->
			<div th:replace="~{includes/fragments :: msgs}"></div>
		
			<div class="row">
				<div class="col-md-12">
					<!-- hoedlale16: Generates a sortable table with bootstrap-style -->
					<table data-toggle="table" class="table table-hover table-striped">
						<thead class="thead-light">
							<tr>
								<th data-sortable="true">Topic</th>
								<th data-sortable="true">Duration [h]</th>
								<th data-sortable="true">Responsible</th>
								<th data-sortable="true">Description</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<!--  list all items ----------------------------------------------------------- -->
							<!-- hoedlale16: Fill table content -->
							<tr th:each="task : ${#request.getAttribute('happeningTasks')}">
								<td th:text="${task.topic}"></td>
								<td th:text="${task.durationInHour}"></td>
								<td
									th:text="${task.responsibleUser} ? ${task.responsibleUser.lastname +' '+#strings.substring(task.responsibleUser.firstname,0,1) +'.'} : 'n/a'"></td>
								<td th:text="${task.description}"></td>

								<td><div class="btn-group">
										<a
											th:href="@{/showModifyHappeningTaskForm(taskId=${task.taskId})}"
											class="btn btn-pill btn-success"> <span class="glyphicon"
											aria-hidden="true"></span> Edit
										</a> <a th:href="@{/deleteExistingTask(taskId=${task.taskId})}"
											class="btn btn-pill btn-danger"> <span
											class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Delete
										</a>
									</div></td>
							</tr>
							<!--  list all items ----------------------------------------------------------- -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- hoedlale16: include some fancy footer -->
	<footer th:replace="~{includes/fragments :: footer}"></footer>

	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>

</html>