<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body class="app flex-row align-items-center bg-dark">
	<div class="container mb-5" role="main">
		<div class="card bg-light">
			<div class="card-body text-dark">
				<div class="row page-header">
					<!-- include the Nav bar fragment-->
					<nav
						th:replace="~{includes/fragments :: header (header='Management Management - Tasks')}"></nav>
				</div>

				<!-- include the Nav bar fragment-->
				<nav th:replace="~{includes/fragments :: navigation }"></nav>

				<!-- include Header information of given happening-->
				<div
					th:replace="~{includes/happeningFragments :: happeningHeader (happening=${#request.getAttribute('happening')}) }"></div>

				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a
						th:href="@{/showCreateHappeningTaskForm(happeningID=${#request.getAttribute('happening').happeningId})}"
						class="btn btn-outline-success navbar-btn">New Task</a>

					<!-- HTML form with search textbox and submit button-->
					<form class="navbar-form navbar-right ml-auto" role="search"
						method="post" th:action="@{filterHappeningTaskList}">
						<div class="input-group">
							<input type="hidden" name="happeningID"
								th:value="${happening.happeningId}"> <input type="text"
								class="form-control" placeholder="Search for..."
								name="searchString"> <span class="input-group-append">
								<button class="btn btn-outline-success" type="submit">Filter</button>
							</span>
						</div>
					</form>
				</nav>
			</div>
			<!-- include message boxes (moved to fragments) -->
			<div th:replace="~{includes/fragments :: msgs}"></div>
		</div>
		<div class="card bg-light">
			<div class="card-body">
				<div class="col-md-12">
					<div class="row">
						<div th:each="task : ${#request.getAttribute('happeningTasks')}"
							class="col-4">
							<div class="card text-dark">
								<div class="bg-success card-header">
									<strong th:text="${task.topic}"></strong>
									<div class="card-header-actions">
										<a
											th:href="@{/showModifyHappeningTaskForm(taskId=${task.taskId})}"
											class="card-header-action btn-pencil"><i
											class="icon-pencil"></i> </a> <a
											th:href="@{/deleteExistingTask(taskId=${task.taskId})}"
											class="card-header-action btn-trash"><i
											class="icon-trash"></i> </a>
									</div>
								</div>
								<div class="card-body">
									<strong>Duration [h]:</strong> <em
										th:text="${task.durationInHour}"></em><br> <strong>Responsible
										User:</strong> <em
										th:text="${task.responsibleUser} ? ${task.responsibleUser.lastname +' '+#strings.substring(task.responsibleUser.firstname,0,1) +'.'} : 'n/a'"></em>
								</div>
							</div>
						</div>
					</div>
					<!-- Customized pagination because of happeningId-->
					<nav>
						<ul class="pagination">
							<li th:if="${totalPages <= 1}" class="page-item"><a
								class="page-link"
								th:href="@{/showTaskListManagementPage(page=1, happeningID=${happening.happeningId})}">1</a>
							</li>
							<li th:if="${totalPages gt 1}" class="page-item"
								th:each="i : ${#numbers.sequence(0,totalPages-1)}"><a
								class="page-link"
								th:href="@{/showTaskListManagementPage(page=${i}, happeningID=${happening.happeningId})}"
								th:text="${i+1}"></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- hoedlale16: include some fancy footer -->
	<footer th:replace="~{includes/fragments :: footer}"></footer>

	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>

</html>