<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body>
	<div class="card container" role="main">
		<div class="card-body">
			<div class="page-header">
				<!-- include the Nav bar fragment-->
				<nav
					th:replace="~{includes/fragments :: header (header='PlaVent - User Management')}"></nav>
			</div>

			<!-- include the Nav bar fragment-->
			<nav th:replace="~{includes/fragments :: navigation }"></nav>

			<!-- include Header information of given happening-->
			<div
				th:replace="~{includes/happeningFragments :: happeningHeader (happening=${#request.getAttribute('happening')}) }"></div>

			<!-- Customized Subnavbar because of Drop-Down selection -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<!-- HTML Form to assign a guest-->
				<form class="navbar-form col-md-5" method="post"
					th:action="@{/assignNewGuestToHappening}">

					<input type="hidden" name="happeningID"
						th:value="${happening.happeningId}">

					<div class="input-group">
						<select id="inputNewGuest" class="custom-select form-control"
							name="newGuestUsername" required="required">
							<option disabled="disabled" selected="selected">
								Choose...</option>
							<option th:each="user : ${potentialGuests}"
								th:value="${user.username}" th:text="${user.username}"></option>
						</select> <span class="input-group-btn">
							<button class="btn btn-pill btn-primary" type="submit">Assign
								guest</button>
						</span>
					</div>
				</form>

				<!-- From to generate a GuestlistPDF - Just enabled when there are guests to generate-->
				<form class="navbar-form col-md-2" method="post"
					th:action="@{/generateGuestListPDF}">

					<input type="hidden" name="happeningID"
						th:value="${happening.happeningId}">

					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-pill btn-primary" type="submit"
								th:disabled="${#lists.isEmpty(happening.guestList)}">Print
								Guestlist</button>
						</span>
					</div>
				</form>

				<!-- HTML form with search textbox and submit button-->
				<form class="navbar-form col-md-5" role="search" method="post"
					th:action="@{filterHappeningGuestList}">
					<div class="input-group">
						<input type="hidden" name="happeningID"
							th:value="${happening.happeningId}"> <input type="search"
							class="form-control" placeholder="Search for..."
							name="searchString"> <span class="input-group-btn">
							<button class="btn btn-pill btn-primary" type="submit">Filter</button>
						</span>
					</div>
				</form>
			</nav>
		
			<!-- Customized pagination because of happeningId-->
			<nav>
			  <ul class="pagination">
			  	<li th:if="${totalPages <= 1}" class="page-item"> 
			    	<a class="page-link" th:href="@{/showGuestListManagementPage(page=1, happeningID=${happening.happeningId})}">1</a>
			    </li>
			    <li th:if="${totalPages gt 1}" class="page-item" th:each="i : ${#numbers.sequence(0,totalPages-1)}"> 
			    	<a class="page-link" th:href="@{/showGuestListManagementPage(page=${i}, happeningID=${happening.happeningId})}" th:text="${i+1}"></a>
			    </li>
			  </ul>
			</nav>
			
			<!-- include message boxes (moved to fragments) -->
			<div th:replace="~{includes/fragments :: msgs}"></div>

			<div class="row">
				<div class="col-md-12">
					<!-- hoedlale16: Generates a sortable table with bootstrap-style -->
					<table data-toggle="table" class="table table-striped table-hover">
						<thead class="thead-light">
							<tr>
								<th data-sortable="true">Username</th>
								<th data-sortable="true">Name</th>
								<th data-sortable="true">Contact (E-Mail)</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<!--  list all items ----------------------------------------------------------- -->
							<!-- hoedlale16: Fill table content -->
							<tr th:each="guest : ${#request.getAttribute('happeningGuests')}">
								<td th:text="${guest.username}"></td>
								<td
									th:text="${guest.lastname +' '+#strings.substring(guest.firstname,0,1) +'.'}"></td>

								<td th:text="${guest.eMail} ? ${guest.eMail} : 'n/a'"></td>
								<td><div class="btn-group">
										<!-- TODO: Link to taskmanagement to assign task -->
										<a
											th:href="@{/unassignExistingGuest(happeningID=${happening.happeningId}, username=${guest.username})}"
											class="btn btn-pill btn-danger"> <span
											class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Remove Guest
										</a> <a
											th:href="@{/showGuestTaskDetailsForm(happeningID=${happening.happeningId}, username=${guest.username})}"
											class="btn btn-pill btn-primary"> <span class="glyphicon"
											aria-hidden="true"></span> Details
										</a>
									</div></td>
							</tr>
							<!--  list all items ----------------------------------------------------------- -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- hoedlale16: include some fancy footer -->
	<footer th:replace="~{includes/fragments :: footer}"></footer>

	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>

</html>