<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent - Happening Management</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body class="app flex-row align-items-center bg-dark">
	<div class="container mb-5" role="main">
		<div class="card bg-light">
			<div class="card-body text-dark">
				<div class="row page-header">
					<!-- include the Nav bar fragment-->
					<p
						th:replace="~{includes/fragments :: header (header='Happening Management')}"></p>
				</div>
				<!-- include the Nav bar fragment-->
				<nav th:replace="~{includes/fragments :: navigation }"></nav>

				<!-- include the search bar fragment for users-->
				<div sec:authorize="hasRole('ROLE_HOST')">
					<nav
						th:replace="~{includes/fragments :: MgmtNavBar (buttonText='New Happening',buttonLink='showCreateHappeningForm',searchLink='filterHappenings')}"></nav>
				</div>
				<!-- include message boxes (moved to fragments) -->
				<div th:replace="~{includes/fragments :: msgs}"></div>
			</div>
		</div>
		<div class="card bg-light">
			<div class="card-body">
				<div class="col-md-12">
					<div class="row">
						<div th:each="happening : ${#request.getAttribute('happenings')}"
							class="col-4">
							<div class="card text-dark">
								<div
									th:classappend="${happening.happeningStatus.statusName != 'ACTIVE'} ? bg-danger : bg-success"
									class="card-header">
									<strong th:text="${happening.happeningName}"></strong>
									<div class="card-header-actions">
										<th:block
											th:if="${happening.happeningStatus.statusName == 'ACTIVE'}">
											<a  title="Guest Management"
												th:href="@{/showGuestListManagement(happeningID=${happening.happeningId})}"
												class="card-header-action btn-people"><i
												class="icon-people"></i> </a>
											<a
												th:href="@{/showTaskListManagement(happeningID=${happening.happeningId})}"
												title="Task Management"
												class="card-header-action btn-list"><i class="icon-list"></i>
											</a>
										</th:block>
										<a
											title="Edit Happening"
											th:href="@{/showModifyExistingHappingForm(happeningId=${happening.happeningId})}"
											class="card-header-action btn-pencil"><i
											class="icon-pencil"></i> </a>
									</div>
								</div>
								<div class="card-body">
									<strong>Happening Name:</strong> <em
										th:text="${happening.happeningName}"></em><br> <strong>Status:</strong>
									<em th:text="${happening.happeningStatus.statusName}"></em><br>
									<strong>Category:</strong> <em
										th:text="${happening.category.categoryName}"></em><br> <strong>Start
										Time:</strong> <em
										th:text="${#dates.format(happening.start,'dd.MM.yyyy HH:mm')}"></em><br>
									<strong>End Time:</strong> <em
										th:text="${#dates.format(happening.end,'dd.MM.yyyy HH:mm')}"></em><br>
									<strong>Location:</strong> <em th:text="${happening.location}"></em><br>
									<strong>Host:</strong> <em
										th:text="${happening.happeningHost.lastname +' '+#strings.substring(happening.happeningHost.firstname,0,1) +'.'}"></em><br>
								</div>
							</div>
						</div>
					</div>
					<!--  include fragement for pageination stuff -->
					<nav
						th:replace="~{includes/fragments :: pageNav (linkToChangePage='/showHappeningManagementPage') }"></nav>
				</div>
			</div>
		</div>
	</div>

	<!-- hoedlale16: include some fancy footer -->
	<footer th:replace="~{includes/fragments :: footer}"></footer>

	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>

</html>