<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body class="app flex-row align-items-center bg-dark">
	<div class="container mb-5" role="main">
		<div class="card bg-light">
			<div class="card-body text-dark">
				<div class="row page-header">
					<!-- include the Nav bar fragment-->
					<nav
						th:replace="~{includes/fragments :: header (header='Happening Management - Guests')}"></nav>
				</div>

				<!-- include the Nav bar fragment-->
				<nav th:replace="~{includes/fragments :: navigation }"></nav>

				<!-- include Header information of given happening-->
				<div
					th:replace="~{includes/happeningFragments :: happeningHeader (happening=${#request.getAttribute('happening')}) }"></div>

				<!-- Customized Subnavbar because of Drop-Down selection -->
				<nav class="navbar navbar-expand-lg navbar-light bg-light">

					<!-- From to generate a GuestlistPDF - Just enabled when there are guests to generate-->
					<form class="navbar-form navbar-left" method="post"
						th:action="@{/generateGuestListPDF}">

						<input type="hidden" name="happeningID"
							th:value="${happening.happeningId}">

						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-outline-success" type="submit"
									th:disabled="${#lists.isEmpty(happening.guestList)}">Print
									Guestlist</button>
							</span>
						</div>
					</form>
					
					<form class="navbar-form navbar-left" method="post"
						th:action="@{/sendMailReminder}">

						<input type="hidden" name="happeningID"
							th:value="${happening.happeningId}">

						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-outline-success" type="submit"
									th:disabled="${#lists.isEmpty(happening.guestList)}">Send Mail Reminder</button>
							</span>
						</div>
					</form>
					
					<!-- HTML Form to assign a guest-->
					<form class="navbar-form col-5 ml-auto" method="post"
						th:action="@{/assignNewGuestToHappening}">

						<input type="hidden" name="happeningID"
							th:value="${happening.happeningId}">

						<div class="input-group">
							<select id="inputNewGuest" class="custom-select form-control"
								name="newGuestUsername" required="required"
								th:readonly="${#lists.isEmpty(potentialGuests)}">
								<option disabled="disabled" selected="selected">
									Choose...</option>
								<option th:each="user : ${potentialGuests}"
									th:value="${user.username}" th:text="${user.username}"></option>
							</select> <span class="input-group-btn">
								<button class="btn btn-outline-success" type="submit"
									th:disabled="${#lists.isEmpty(potentialGuests)}">
									Assign guest</button>
							</span>
						</div>
					</form>

					<!-- HTML form with search textbox and submit button-->
					<form class="navbar-form navbar-right ml-auto" role="search"
						method="post" th:action="@{filterHappeningGuestList}">
						<div class="input-group">
							<input type="hidden" name="happeningID"
								th:value="${happening.happeningId}"> <input
								type="search" class="form-control" placeholder="Search for..."
								name="searchString"> <span class="input-group-btn">
								<button class="btn btn-outline-success" type="submit">Filter</button>
							</span>
						</div>
					</form>
				</nav>
			</div>
			<!-- include message boxes (moved to fragments) -->
			<div th:replace="~{includes/fragments :: msgs}"></div>
		</div>
		<div class="card bg-light">
			<div class="card-body">
				<div class="col-md-12">
					<div class="row">
						<div th:each="guest : ${#request.getAttribute('happeningGuests')}"
							class="col-4">
							<div class="card text-dark">
								<div class="bg-success card-header">
									<strong th:text="${guest.username}"></strong>
									<div class="card-header-actions">
										<a
											th:href="@{/unassignExistingGuest(happeningID=${happening.happeningId}, username=${guest.username})}"
											class="card-header-action btn-trash"><i
											class="icon-trash"></i> </a> <a
											th:href="@{/showGuestTaskDetailsForm(happeningID=${happening.happeningId}, username=${guest.username})}"
											class="card-header-action btn-list"><i class="icon-list"></i>
										</a>
									</div>
								</div>
								<div class="card-body">
									<strong>Name:</strong> <em
										th:text="${guest.lastname +' '+#strings.substring(guest.firstname,0,1) +'.'}"></em><br>
									<strong>Contact-Email:</strong> <em
										th:text="${guest.eMail} ? ${guest.eMail} : 'n/a'"></em>
								</div>
							</div>
						</div>
						<!-- Customized pagination because of happeningId-->
					</div>
					<nav>
						<ul class="pagination">
							<li th:if="${totalPages <= 1}" class="page-item"><a
								class="page-link"
								th:href="@{/showGuestListManagementPage(page=1, happeningID=${happening.happeningId})}">1</a>
							</li>
							<li th:if="${totalPages gt 1}" class="page-item"
								th:each="i : ${#numbers.sequence(0,totalPages-1)}"><a
								class="page-link"
								th:href="@{/showGuestListManagementPage(page=${i}, happeningID=${happening.happeningId})}"
								th:text="${i+1}"></a></li>
						</ul>
					</nav>

				</div>
			</div>
		</div>
	</div>

	<!-- hoedlale16: include some fancy footer -->
	<footer th:replace="~{includes/fragments :: footer}"></footer>

	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>

</html>