<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent - Login!</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body class="app flex-row align-items-center bg-dark">
	<div class="container" role="main">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card bg-light p-4 text-center text-dark">
					<h1 class="display-1 page-header">PlaVent</h1>
				</div>
			</div>
			<div class="col-md-8">
				<!-- include message boxes (moved to fragments) -->
				<div th:replace="~{includes/fragments :: msgs}"></div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card-group">
					<div class="card bg-light p-4">
						<div class="card-body text-dark">
							<!-- Check if PlaVent Environment exists.
					If not: just show button for initial setup -->
							<th:block th:if="${noPlaventEnvironment}">
								<form>
									<a th:href="@{/preparePlavent}"
										class="btn btn-lg btn-outline-success" id="prepare"> Start
										Initial Setup</a>
								</form>
							</th:block>
							<!-- Login Card -->
							<th:block th:unless="${noPlaventEnvironment}">
								<h1>Login</h1>
								<p class="text-muted">Sign in to your account to make the
									most out of PlaVent!</p>
								<form class="form-horizontal" method="post"
									th:action="@{/login}">
									<input type="hidden" th:name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
									<fieldset>
										<div th:if="${param.error}" class="alert alert-danger">
											Invalid username and password.</div>
										<div th:if="${param.logout}" class="alert alert-success">You
											have been logged out.</div>
										<!--  ----------------  User Name ---------------- -->
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="icon-user"></i></span>
											</div>
											<input type="text" class="form-control"
												placeholder="Username" name="username" required="required"
												value="" aria-label="Username"
												aria-describedby="basic-addon1">
										</div>
										<!--  ----------------  password ---------------- -->
										<div class="input-group mb-4">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="icon-lock"></i></span>
											</div>
											<input class="form-control" type="password" name="password"
												required="required" value="" placeholder="Password">
										</div>
										<div class="row">
											<div class="col-6">
												<input name="submit" class="btn btn-outline-dark px-4"
													type="submit" value="Login">
											</div>
											<div class="col-6 text-right">
												<button type="button" class="btn btn-link"
													data-toggle="modal" data-target="#passwordmodal">Forgot
													Password?</button>
											</div>

										</div>
									</fieldset>
								</form>
							</th:block>
						</div>
					</div>
					<th:block th:unless="${noPlaventEnvironment}" )>
						<div class="card text-light bg-dark py-5 d-md-down-none"
							style="width: 44%">
							<div class="card-body text-center">
								<h2>Sign Up</h2>
								<p>If you don't yet have an account, don't worry! Signing up
									is free, quick and easy, so you can start with PlaVent in no
									time!</p>
								<a href="registerUser" class="btn btn-outline-light">Register</a>
							</div>
						</div>
					</th:block>
					<th:block th:unless="${noPlaventEnvironment}">
						<div class="modal fade show text-dark" id="passwordmodal"
							tabindex="-1" role="dialog">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Reset Password</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form class="form-horizontal" method="get"
											th:action="@{/sendResetPassword}">
											<input type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}" />
											<fieldset>

												<!--  ----------------  User Name ---------------- -->
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="icon-user"></i></span>
													</div>
													<input type="text" class="form-control"
														placeholder="Username" name="username" required="required"
														value="" aria-label="Username"
														aria-describedby="basic-addon1">
												</div>
											</fieldset>
										</form>
									</div>

									<div class="modal-footer">
										<input name="submit" class="btn btn-outline-danger px-4"
											type="submit" value="Reset Password" data-dismiss="modal">

									</div>

								</div>
							</div>
						</div>

					</th:block>
				</div>
			</div>
		</div>
		<!-- weilands16: include our footer -->
		<footer th:replace="~{includes/fragments :: footer}"></footer>
	</div>

	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>

</html>