<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body>
	<div class="container" role="main">

		<div class="page-header">
			<h1>PlaVent</h1>
		</div>
		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null"
			th:utext="${warningMessage}" class="alert alert-warning"
			role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->


		<div class="row">
			<div class="col-md-10 col-md-offset-1">
			
				<!-- Check if PlaVent Environment exists.
					If not: just show button for initial setup -->
				<th:block th:if="${noPlaventEnvironment}")>
					<form>
					  <a th:href="@{/preparePlavent}" class="btn btn-primary"> 
						<span class="glyphicon" aria-hidden="true"></span>Start Initial Setup</a>
					</form>
				</th:block>
	
				<th:block th:unless="${noPlaventEnvironment}")>
					<form class="form-horizontal" method="post" th:action="@{/login}">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
	
						<fieldset>
							<legend>Login</legend>
	
							<div th:if="${param.error}" class="alert alert-danger">
								Invalid username and password.</div>
							<div th:if="${param.logout}" class="alert alert-success">You
								have been logged out.</div>
	
	
							<!--  ----------------  User Name ---------------- -->
							<div class="form-group">
								<label for="inputName" class="col-md-2 control-label">Username</label>
								<div class="col-md-10">
									<input class="form-control" type="text" name="username"
										required="required" value="">
								</div>
							</div>
	
							<!--  ----------------  password ---------------- -->
							<div class="form-group">
								<label for="inputPassword" class="col-md-2 control-label">Password</label>
								<div class="col-md-10">
									<input class="form-control" type="password" name="password"
										required="required" value="">
								</div>
							</div>
	
							<!-- --------------  buttons ---------------- -->
							<div class="form-group">
								<div class="col-md-10 col-md-offset-2">
									<td><input name="submit" type="submit" value="submit" class="btn btn-primary"></td>
									<a href="createUser" class="btn btn-default"> Register </a>
								</div>
							</div>
	
						</fieldset>
					</form>
				</th:block>
			</div>
		</div>
	</div>
	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>

</html>