<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent - Profiles</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body class="app flex-row align-items-center bg-dark">
	<div class="container mb-5" role="main">
		<div class="card bg-light">
			<div class="card-body text-dark">
				<div class="row page-header">
					<!-- include the Nav bar fragment-->
					<p
						th:replace="~{includes/fragments :: header (header='User Management')}"></p>
				</div>

				<!-- include the Nav bar fragment-->
				<nav th:replace="~{includes/fragments :: navigation }"></nav>

				<!-- include message boxes (moved to fragments) -->
				<div th:replace="~{includes/fragments :: msgs}"></div>
			</div>

			<!-- TODO: Make this redundant (include in User Management)! -->
		</div>
	
		<div class="card text-dark">

			<div class="bg-success card-header">
				<strong th:text="${user.username}"></strong>
			</div>
			<div class="card-body">
				<div class="float-left">
					<strong>First name:</strong> 
						<em th:text="${user.firstname}"></em><br> 
					<strong>Last name:</strong>
						<em th:text="${user.lastname}"></em><br>
					<strong>Email:</strong> <em
						th:text="${user.eMail}"></em><br> 
					<strong>Telephone:</strong> <em
						th:text="${user.telNumber}"></em><br>
				</div>
				<div class="float-right">
					<img th:unless="${image} == null" th:src="${image}" height="100"
						width="100">
				</div>
			</div>
			
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			
				<a th:href="@{/editUserFromShowProfile(username=${user.username})}"
					class="btn btn-outline-success"> <span
					class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit</a> 
				
				<a th:href="@{/changePasswordFromShowProfile(username=${user.username})}"
					class="btn btn-outline-success"> <span
					class="glyphicon glyphicon-edit" aria-hidden="true"></span>Change Password</a>
	
				<a th:href="@{/uploadProfilePicture(username=${user.username})}"
					class="btn btn-outline-success"> <span
					class="glyphicon glyphicon-edit" aria-hidden="true"></span>Upload Profile Picture
				</a>
			</nav>
			
		</div>	


	<!-- hoedlale16: include some fancy footer -->
	<footer th:replace="~{includes/fragments :: footer}"></footer>

	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>

</html>
