<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>PlaVent - ToDo!</title>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>
<body>
	<div class="card container" role="main">
		<div class="card-body">
			<h1>TODO</h1>
			Oops, I think here is some implementation missing.. <a
				href="./dashboard">back</a>
		</div>
	</div>
	<!-- weilands16: include our footer -->
		<footer th:replace="~{includes/fragments :: footer}"></footer>
</body>
</html>