<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent - Profile Picture</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>
<body class="app flex-row align-items-center bg-dark">
<div class="container" role="main">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card bg-light mx-4 text-dark">
					<div class="card-body">

						<form class="form-horizontal" enctype="multipart/form-data"
							method="post"
							th:action="@{/uploadProfilePicture(${_csrf.parameterName}=${_csrf.token})}">

							<fieldset class="card-body">
								<h1>Upload profile picture</h1>
								
								<!-- Send field if we were came from "show profile" -->
								<th:block th:if="${commingFromShowProfile}">
									<input type="hidden" name="commingFromShowProfile" th:value=${commingFromShowProfile}>
								</th:block>
	
								<!--  ----------------  username ---------------- -->
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="icon-user"></i></span>
									</div>
									<input type="text" class="form-control" name="username"
										required="required" placeholder="Username"
										th:value="${user} ? ${user.username}" th:readonly="${user}"
										autocomplete="off">
								</div>
								
								<!--  ----------------  filePath ---------------- -->
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="icon-picture"></i></span>
									</div>
								<div class="custom-file">
									<input class="form-control custom-file-input" id="inputFile" type="file"
											name="imageFile" accept=".jpg, .jpeg">
											<label class="custom-file-label" for="inputFile">Choose File</label></div>
								</div>
				
								
								<!-- --------------  buttons ---------------- -->
								<button type="submit" class="btn btn-outline-dark">Upload</button>
								<a href="showProfile" class="btn btn-light">Cancel</a>

							</fieldset>
						</form>
						</th:block>
					</div>
				</div>
			</div>
			<!-- weilands16: include our footer -->
			<footer th:replace="~{includes/fragments :: footer}"></footer>
		</div>

		<!--  End of container -->
		<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
 </body>

</html>
