<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body>
	<div class="container" role="main">

		<!--  Test User ----------------------------------------------------------- -->

		<div class="col-md-2">
			<a href="fillList">
				<button type="button" class="btn btn-success">Create Test
					Users</button>
			</a>
		</div>
	</div>
	<!--  Test User ----------------------------------------------------------- -->

	<div class="page-header">
		<!-- include the Nav bar fragment-->
		<nav
			th:replace="~{includes/fragments :: header (header='PlaVent - User Management')}"></nav>
	</div>

	<!-- include the Nav bar fragment-->
	<nav th:replace="~{includes/fragments :: navigation }"></nav>

	<!-- include the serach bar fragment for users-->
	<nav
		th:replace="~{includes/fragments :: MgmtNavBar (buttonText='New User',buttonLink='showCreateUserForm',searchLink='filterUsers')}"></nav>

	<!--  Error message ----------------------------------------------------------- -->
	<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
		class="alert alert-danger" role="alert"></div>
	<!--  Error message ----------------------------------------------------------- -->

	<!--  Warning message ----------------------------------------------------------- -->
	<div th:unless="${warningMessage} == null" th:utext="${warningMessage}"
		class="alert alert-warning" role="warning"></div>
	<!--  Warning message ----------------------------------------------------------- -->

	<!--   message ----------------------------------------------------------- -->
	<div th:unless="${message} == null" th:utext="${message}"
		class="alert alert-success" role="warning"></div>
	<!--   message ----------------------------------------------------------- -->
	<!--   Count ----------------------------------------------------------- -->
	<div>
		<span th:text="${count}">Count</span>
	</div>
	<!--   Count ----------------------------------------------------------- -->
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<table data-toggle="table" class="table table-striped">
				<thead>
					<tr>
						<th data-sortable="true">UserName</th>
						<th data-sortable="true">FirstName</th>
						<th data-sortable="true">LastName</th>
						<th class="text-right">Actions</th>
					</tr>
				</thead>
				<tbody>
					<!--  list all user items ----------------------------------------------------------- -->
					<tr th:each="user : ${#request.getAttribute('users')}">
						<td th:text="${user.username}"></td>
						<td th:text="${user.firstname}"></td>
						<td th:text="${user.lastname}"></td>
						<td><a th:href="@{/editUser(username=${user.username})}"
							class="btn btn-xs btn-success"> <span
								class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								Edit
						</a> 
							<a th:href="@{/deleteUser(username=${user.username})}"
							class="btn btn-xs btn-danger"> <span
								class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								Delete
						</a> <a
							th:href="@{/showChangePasswordForm(username=${user.username})}"
							class="btn btn-xs btn-success"> <span
								class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								Change Password
						</a></td>
					</tr>
					<!--  list all user items ----------------------------------------------------------- -->
				</tbody>
			</table>
		</div>
	</div>

	</div>
	<!-- CSRF Token is used and sent -->
		<form th:action="@{/logout}" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" /> <!-- not really needed and can be ommited -->
				<input class="btn btn-xs btn-danger"
				type="submit" value="Logout" />
		</form>
	<!-- hoedlale16: include some fancy footer -->
	<footer th:replace="~{includes/fragments :: footer}"></footer>

	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>

</html>