<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body class="app flex-row align-items-center bg-dark">
	<div class="container mb-5" role="main">
		<div class="card bg-light">
			<div class="card-body text-dark">
				<div class="row page-header">
					<!-- include the Nav bar fragment-->
					<p
						th:replace="~{includes/fragments :: header (header='User Management')}"></p>
				</div>

				<!-- include the Nav bar fragment-->
				<nav th:replace="~{includes/fragments :: navigation }"></nav>

				<!-- include the search bar fragment for users-->
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<nav
						th:replace="~{includes/fragments :: MgmtNavBar (buttonText='Create New User',buttonLink='createUser',searchLink='filterUsers')}"></nav>
				</div>
				<!-- include message boxes (moved to fragments) -->
				<div th:replace="~{includes/fragments :: msgs}"></div>
			</div>
		</div>
		<div class="card bg-light">
			<div class="card-body">
				<div class="col-md-12">
					<div class="row">
						<div th:each="user : ${#request.getAttribute('users')}"
							class="col-4">
							<div class="card text-dark">
								<div class="bg-success card-header">
									<strong th:text="${user.username}"></strong>
									<div class="card-header-actions">
										<a th:href="@{/editUser(username=${user.username})}"
											class="card-header-action btn-pencil"> <i
											class="icon-pencil"></i>
										</a> <a
											th:href="@{/showChangePasswordForm(username=${user.username})}"
											class="card-header-action btn-settings"><i
											class="icon-settings"></i> </a><a
											th:href="@{/deleteUser(username=${user.username})}"
											class="card-header-action btn-close"> <i
											class="icon-close"></i>
										</a>
									</div>
								</div>
								<div class="card-body">
									<strong>First Name:</strong> <em th:text="${user.firstname}"></em><br>
									<strong>Last Name:</strong> <em th:text="${user.lastname}"></em><br>
									<strong>Email:</strong> <em th:text="${user.eMail}"></em><br>
									<strong>Phone:</strong> <em th:text="${user.telNumber}"></em><br>
								</div>
							</div>
						</div>
					</div>
					<!--<table data-toggle="table" class="table table-dark">
						<thead class="thead-dark">
							<tr>
								<th data-sortable="true">@Username</th>
								<th data-sortable="true">First Name</th>
								<th data-sortable="true">Last Name</th>
								<th data-sortable="true">Email</th>
								<th data-sortable="true">Phone</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<!--  list all user items -----------------------------------------------------------
							<tr th:each="user : ${#request.getAttribute('users')}">
								<td th:text="${user.username}"></td>
								<td th:text="${user.firstname}"></td>
								<td th:text="${user.lastname}"></td>
								<td th:text="${user.eMail}"></td>
								<td th:text="${user.telNumber}"></td>
								<!--  functionalities ----------------------------------------------------------- 
								<td><div class="btn-group">
										<a th:href="@{/editUser(username=${user.username})}"
											class="btn btn-xs btn-outline-light"> <span
											class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Edit
										</a> <a
											th:href="@{/showChangePasswordForm(username=${user.username})}"
											class="btn btn-xs btn-outline-light"> <span
											class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Change Password
										</a><a th:href="@{/deleteUser(username=${user.username})}"
											class="btn btn-xs btn-outline-danger"> <span
											class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Delete
										</a>
									</div></td>

							</tr>
							<!--  list all user items --------------------------------------------------------- 
						</tbody>
					</table>-->
				</div>
			</div>
		</div>
		<div class="card bg-light">
			<div class="card-body text-dark">
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<div class="col-md-4 col-md-offset-1">
						<h1>User Roles</h1>
						<div class="tree">
							<ul>
								<li th:each="userRole : ${roleList}"><a href="#"
									th:text="${userRole.roleName}"></a>
									<ul>
										<li th:each="user : ${userRole.userList}"><a href="#"
											th:text="${user.username}"> </a></li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- hoedlale16: include some fancy footer -->
	<footer th:replace="~{includes/fragments :: footer}"></footer>

	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>

</html>