<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>PlaVent</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
</head>

<body>
	<div class="container card" role="main">

		<div class="card-body">
			<div class="page-header">
				<!-- include the Nav bar fragment-->
				<nav
					th:replace="~{includes/fragments :: header (header='PlaVent - User Management')}"></nav>
			</div>

			<!-- include the Nav bar fragment-->
			<nav th:replace="~{includes/fragments :: navigation }"></nav>

			<!-- include the search bar fragment for users-->
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<nav
					th:replace="~{includes/fragments :: MgmtNavBar (buttonText='Create New User',buttonLink='createUser',searchLink='filterUsers')}"></nav>
			</div>
			<!-- include message boxes (moved to fragments) -->
			<div th:replace="~{includes/fragments :: msgs}"></div>

			<div class="row">
				<div class="col-md-12">
				<h1>User Information Table</h1>
					<table data-toggle="table" class="table table-striped table-hover">
						<thead class="thead-light">
							<tr>
								<th data-sortable="true">User Name</th>
								<th data-sortable="true">First Name</th>
								<th data-sortable="true">Last Name</th>
								<th data-sortable="true">Email</th>
								<th data-sortable="true">Phone</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<!--  list all user items ----------------------------------------------------------- -->
							<tr th:each="user : ${#request.getAttribute('users')}">
								<td th:text="${user.username}"></td>
								<td th:text="${user.firstname}"></td>
								<td th:text="${user.lastname}"></td>
								<td th:text="${user.eMail}"></td>
								<td th:text="${user.telNumber}"></td>

								<!--  functionalities ----------------------------------------------------------- -->
								<td><div class="btn-group" role="group">
										<a th:unless="${user.enabled} == false"
											th:href="@{/editUser(username=${user.username})}"
											class="btn btn-pill btn-xs btn-success"> <span
											class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Edit
										</a> <a th:unless="${user.enabled} == false"
											th:href="@{/changePassword(username=${user.username})}"
											class="btn btn-pill btn-xs btn-success"> <span
											class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Change Password
										</a><a th:unless="${user.enabled} == false"
											th:href="@{/deleteUser(username=${user.username})}"
											class="btn btn-pill btn-xs btn-danger"> <span
											class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Delete
										</a> <a th:unless="${user.enabled} == true"
											th:href="@{/reactivateUser(username=${user.username})}"
											class="bbtn btn-pill btn-xs btn-success"> <span
											class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Reactivate User
										</a>
									</div></td>

							</tr>
							<!--  list all user items --------------------------------------------------------- -->
						</tbody>
					</table>
				</div>
			</div>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<div class="row">
					<div class="col-md-12">
					<h1>User Information - Admin View</h1>
						<table data-toggle="table" class="table table-striped table-hover">
							<thead class="thead-light">
								<tr>
									<th data-sortable="true">Username</th>
									<th data-sortable="true">Status</th>
									<th data-sortable="true">Password</th>
									<th data-sortable="true">User Role</th>
								</tr>
							</thead>
							<tbody>
								<!--  list all user items ----------------------------------------------------------- -->
								<tr th:each="user : ${#request.getAttribute('users')}">
									<td th:text="${user.username}"></td>
									<td th:text="${user.enabled} ? 'enabled' : 'disabled'"></td>
									<td th:text="${user.password}"></td>
									<td th:text="${user.roleList}"></td>
										
								</tr>
								<!--  list all user items --------------------------------------------------------- -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- hoedlale16: include some fancy footer -->
	<footer th:replace="~{includes/fragments :: footer}"></footer>

	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />
</body>

</html>