<!-- Fragement to main menu -->
<nav th:fragment="navigation" class="navbar navbar-default">
	<div class="container-fluid">
		<a sec:authorize="hasRole('USER')"  href="showUserManagement" class="btn btn-default navbar-btn">User Management</a>
		<a sec:authorize="hasRole('HOST')"  href="showHappeningManagement" class="btn btn-default navbar-btn">Happening Management</a>
		<a sec:authorize="hasRole('ADMIN')" href="showCategoryManagement" class="btn btn-default navbar-btn">Category Management</a> 
		<a sec:authorize="hasRole('USER')"  href="dashboard" class="btn btn-default navbar-btn">Dashboard</a>
	</div>
</nav>

<!-- Fragment for main header  -->
<header th:fragment="header (header)">
	<div class="container-fluid">
		<form class="navbar-form navbar-right" method="post" th:action="@{/logout}">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">Logout</button>
				</span>
			</div>
		</form>
		
		<h1 th:text="${(header)}"></h1>
	</div>
</header>

<!-- Fragment to have pagination -->
<nav th:fragment="pageNav (linkToChangePage)">
  <ul class="pagination">
  	<li th:if="${totalPages <= 1}" class="page-item"> 
    	<a class="page-link" th:href="@{${(linkToChangePage)}(page=1)}">1</a>
	</li>
    <li th:if="${totalPages gt 1}" class="page-item" th:each="i : ${#numbers.sequence(0,totalPages-1)}"> 
    	<a class="page-link" th:href="@{${(linkToChangePage)}(page=${i})}" th:text="${i+1}"></a>
    </li>
  </ul>
</nav>


<footer th:fragment="footer" class="card-footer text-muted">
<!-- TODO: Bei vielen Zeilen sollte automatisch im Body immer Seite 1..n erfolgen damit die Scrollbar nie kommt... -->
	<div class="container-fluid text-center footer navbar-fixed-bottom">
		FERNBACH - HEIDER - HÖDL - WEILAND<br>
		FH JOANNEUM - Informationsmanagement 2016
	</div>
</footer>

<nav th:fragment="MgmtNavBar (buttonText,buttonLink,searchLink)" class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Button to add new element-->
		<a th:href="${(buttonLink)}" class="btn btn-default navbar-btn" th:text="${(buttonText)}">
			New
		</a>
	
		<!-- HTML form with search textbox and submit button-->
		<form class="navbar-form navbar-right" role="search" method="post" th:action="${(searchLink)}">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for..." name="searchString">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">Filter</button>
				</span>
			</div>
		</form>
	</div>
</nav>