<!-- Fragement to main menu -->
<nav th:fragment="navigation"
	class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">PlaVent</a>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item"><a sec:authorize="hasRole('ROLE_ADMIN')"
			href="showUserManagement" class="nav-link">User Management</a></li>
		<li class="nav-item"><a sec:authorize="hasRole('ROLE_GUEST')"
			href="showProfile" class="nav-link">Profile</a></li>
		<li class="nav-item"><a sec:authorize="hasRole('ROLE_GUEST')"
			href="dashboard" class="nav-link">Dashboard</a></li>
		<li class="nav-item"><a sec:authorize="hasRole('ROLE_HOST')"
			href="showHappeningManagement" class="nav-link">Happening
				Management</a></li>
		<li class="nav-item"><a sec:authorize="hasRole('ADMIN')"
			href="showCategoryManagement" class="nav-link">Category
				Management</a></li>
	</ul>
	<form class="navbar-form navbar-left" method="post"
		th:action="@{/logout}">
		<button class="btn btn-outline-danger navbar-btn" type="submit">Logout</button>
	</form>
</nav>

<!-- Fragment for main header  -->
<header th:fragment="header (header)">
	<div class="container-fluid">
		<h1 th:text="${(header)}"></h1>
	</div>
</header>

<!-- Fragment to have pagination -->
<nav th:fragment="pageNav (linkToChangePage)">
	<ul class="pagination">
		<li th:if="${totalPages <= 1}" class="page-item"><a
			class="page-link" th:href="@{${(linkToChangePage)}(page=0)}">1</a></li>
		<li th:if="${totalPages gt 1}" class="page-item"
			th:each="i : ${#numbers.sequence(0,totalPages-1)}"><a
			class="page-link" th:href="@{${(linkToChangePage)}(page=${i})}"
			th:text="${i+1}"></a></li>
	</ul>
</nav>


<footer th:fragment="footer"
	class="fixed-bottom app-footer text-muted justify-content-center p-1">
	<!-- TODO: Bei vielen Zeilen sollte automatisch im Body immer Seite 1..n erfolgen damit die Scrollbar nie kommt... -->
	<div class="text-center">
		FERNBACH - HEIDER - H&Ouml;DLBERT - WEILAND<br> FH JOANNEUM -
		Informationsmanagement 2016<br> Made with &#128154; in Styria.
	</div>

</footer>

<nav th:fragment="MgmtNavBar (buttonText,buttonLink,searchLink)"
	class="navbar navbar-expand-lg navbar-light bg-light">
	<!-- Button to add new element-->
	<a th:href="${(buttonLink)}" class="btn btn-outline-success navbar-btn"
		th:text="${(buttonText)}">New</a>

	<!-- HTML form with search textbox and submit button-->
	<form class="navbar-form navbar-right ml-auto" role="search"
		method="post" th:action="${(searchLink)}">
		<div class="input-group">
			<input type="search" class="form-control" placeholder="Search for..."
				name="searchString"> <span class="input-group-append">
				<button class="btn btn-outline-success" type="submit">Filter</button>
			</span>
		</div>
	</form>
</nav>

<div th:fragment="msgs">
	<!--  Error message ----------------------------------------------------------- -->
	<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
		class="alert alert-danger" role="alert"></div>
	<!--  Error message ----------------------------------------------------------- -->

	<!--  Warning message ----------------------------------------------------------- -->
	<div th:unless="${warningMessage} == null" th:utext="${warningMessage}"
		class="alert alert-warning" role="warning"></div>
	<!--  Warning message ----------------------------------------------------------- -->

	<!--   message ----------------------------------------------------------- -->
	<div th:unless="${message} == null" th:utext="${message}"
		class="alert alert-info" role="alert"></div>
	<!--   message ----------------------------------------------------------- -->
	<!--   message ----------------------------------------------------------- -->
	<div th:unless="${information} == null" th:utext="${information}"
		class="alert alert-info" role="alert"></div>
	<!--   message ----------------------------------------------------------- -->
</div>